@import url('https://fonts.googleapis.com/css2? family= Farsan & family= Roboto+Condensed:ital,wght@0,300;0,400;1,300 & family= Roboto:wght@100 & display= intercambio');

body{
    background-image: url("../img/FONDO\ DE\ PANTALLA\ 1.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;

}

.header{
    background-image: url(../img/glaciar\ para\ header.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    margin-bottom: 3rem;
}
.header h1{
    font-family: "farsan",cursive;
    font-size: 6rem;
    text-align: center;
    color: rgb(235, 236, 236);
}
.header p{
    font-family: "farsan",cursive;
    font-size: 6rem;
    text-align: center;
    color: rgb(235, 236, 236);
}

h2,h3{
    margin: 3rem,0,1.40rem;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    text-align: center;
    color: rgb(18, 84, 117);
}

h2,h3{
    font-size: 3rem;
    font-weight: 800;

}

p{
    font-size: 3rem;
    font-family: "farsan",cursive;
    text-align: center;
}

.products table{
    margin: auto;
}

.products thead{
 background-color: rgb(112, 210, 228);
 text-align: center;
 font-size: 2rem;
 font-weight: 300;
}

.products th{
    border: 4px solid rgb(119, 217, 235);
    padding: 1.4rem;
    font-size: 3rem;
    font-family: "farsan" cursive;
    color: rgb(18, 84, 117);
}

.products img{
    width:100%;
    border-radius: 20rem;
    border: 4px solid rgb(119, 217, 235);

}


.footer{
    margin-top: 4rem;
    background-color: rgb(112, 210, 228);
    text-align: center; 
}

.footer a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(235, 236, 236);
    font-size: 5rem;
    
}

.footer img{
    width: 4rem;
    left: 10rem;

}

.footer a:hover{
    color: blue;
}